@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family: 'Montserrat', sans-serif;
    

}

.cantina{
    background-color: #FFB800;
    font-weight: bold;
    padding: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.dir{
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin: 100px;
}

